---
title: CryptoPaint
stylesheet: "stylesheets/index.css"
---

<div id="container">
  <div id="zoom">
    <div id="pan">
      <canvas width="1000" height="1000" id="canvas"></canvas>
    </div>
  </div>
</div>

<div id="modal">
  <div id="modal-heading">
  </div>

  <div id="modal-text">
  </div>

  <div id="metamask-button-wrapper">
    <a href="https://metamask.io/" target="_blank" title="Get MetaMask">
      <img src="images/download-metamask-dark.png" alt="MetaMask download button" id="metamask-button">
    </a>
  </div>

  <div id="buttons-wrapper">
    <div id="send-button" class="green-bg big-button unselectable">
      send
    </div>
    <div id="close-button" class="red-bg big-button unselectable">
      close
    </div>
    <div id="cancel-button" class="red-bg big-button unselectable">
      cancel
    </div>
  </div>
</div>

<div id="toolbar" class="gray-background">
  <div id="info">
    <span id="coordinates"></span>
    <div>
      block <span id="block-number"></span>
    </div>
  </div>
  <div id="palette">
    <div class="color-button">
    </div>
  </div>
  <div class="counterweight"></div>
</div>

<%= javascript_include_tag "index.bundle.js" %>