body {
  position: fixed;
  overflow: hidden;
}

#container {
  width: 1000px;
  height: 1000px;
  z-index: -1;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;
}

#zoom {
  transform: scale(4, 4);
  transform-origin: center;
}

#pan {
  transform: translate(0px, 0px);
  transform-origin: center;
}

#toolbar {
  width: 100%;
  max-height: 200px;
  min-height: 60px;
  z-index: 3;
  position: fixed;
  bottom: 0px;
  color: #222;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex: auto;
}

.counterweight {
  margin-left: auto;
  width: 200px;
}

#info {
  width: 200px;
  margin-right: auto;
  margin-left: 20px;
}

#palette {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.color-button {
  width: 2em;
  height: 2em;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.50);
  margin-left: 1em;
}

#modal {
  width: 75%;
  max-height: 500px;
  min-height: 200px;
  position: fixed;
  left: 50%;
  margin-left: -37.5%;
  z-index: 3;
  top: 200px;
  padding: 30px;
  display: none;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  padding-bottom: 100px;
}

#modal-heading {
  font-size: 2em;
  font-weight: 800;
  padding-bottom: 20px;
}

#modal-text {

}

#buttons-wrapper {
  display: flex;
  flex-direction: row;
  bottom: 20px;
  z-index: 4;
  position: absolute;
  width: 90%;
  justify-content: space-between;
}

#metamask-button-wrapper {
  width: 50%;
  margin: 10px auto;
  display: none;
}

#metamask-button {
  width: 100%;
  background-repeat: no-repeat;
}

.big-button {
  width: 15%;
  min-width: 100px;
  color: #fff;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  font-weight: 800;
  font-size: 2em;
}

.green-bg {
  background: #349B22;
}

.red-bg {
  background-color: #FF7E7E;
}

#close-button {
  display: none;
}

@media (max-width: 700px) { 
  #toolbar {
    display: none;
  }
}